/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#searchmovie {
  background-color: rgba(220,20,60,0.5) !important;
}
 #discover-results{
  border-radius: 10px !important;
    background-color: rgba(220,20,60,0.5) !important;
 }
#discover-submit,
#searchButton {
  margin-bottom: 10px !important;
}
.noUi-handle {
  color: red;
  margin-top: 5px !important;
  height: 20px !important;
}
 .noUi-horizontal.noUi-extended {
  padding-right: 32px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
  left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
  right: -32px;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


img{
  align-content: center;

/* THIS NEEDS 
  TO BE MOVED 
  INTO OUR 
  STYLE.CSS FILE */

.boolean {
  font-family: Bangers;
  text-align: center;
  border-bottom: 2px white solid;


}

.broughttoyou{
  font-family: Bangers;
  text-align: center;
}

.thetitle{
  font-family: Bangers;
  text-align: center;
}

.titlefont{
  font-family: Bangers;
  color: #94bfb6;
  margin-top: -10px !important;
  margin-left: -30px !important;
  text-align: center !important;
  text-shadow: 5px 5px black !important;
}

.allinone{
  font-family: Bangers;
  color: #94bfb6;
  margin-top: -20px !important;
  margin-left: -20px !important;
  text-shadow: 2px 2px black !important;
}

.ourlogo{
  height: 60px !important;
  width: 232px !important;
  margin-right: 25px !important;  
}

.icon-block:hover{
  border-style: solid !important;
  border-radius: 10px !important;
  color: #990000;
}

.logodiv{
  margin-right: 90px !important;
}

.collapsible-header.movie{
  background-color: rgba(220,20,60,0.5) !important;
  font-family: Bangers;

}

.collapsible-body p{
  color: white !important;
}

.collapsible-header{
  background-color: #990000  !important;
  font-family: Bangers !important;
  font-size: 20px !important;
  color: white !important;
  text-shadow: 2px 2px black !important;
}

#movieresults{
  border-radius: 10px !important;
  background-color: #990000  !important;
  margin-left: 20px !important;

}




#movies{
  background-color: black !important;
  border-radius: 10px !important;
}

.accordion-head-text{
  font-family: Bangers !important;
  font-size: 20px !important;
  color: white !important;
  text-shadow: 2px 2px black !important;
}

#vader{
  background: url(../assets/images/vader.png);
  background-position: -155px 60px;
  background-size: 1630px;

}

#searchfont{
  font-family: Bangers;
  text-align: center !important;
}



#searchmovie {
  margin-left: 25px !important;
  margin-top: 1px !important;
  border-radius: 10px !important;
}

#profileimage{
  margin-left: 445px !important;

  
}

#usernamedisplay{
  text-align: center !important;
  font-family: Bangers;
  color: white !important;
  font-size: 100px !important;
  border-bottom: 1px white solid !important;

}

#discoverfont{
  font-family: Bangers;
  text-align: center !important;
}

#discover-results{
  margin-left: 20px !important;

}

#profileinfo{
  color: white !important;
}

.btn {
  background-color: #990000 !important;
}
#justiceleague{
  background-image: url(../assets/images/justiceleague.png);
  background-position: -80px 175px !important;
}